@model clan_system.Models.ViewModels.ContributionViewModel
@{
    ViewData["Title"] = "Contributions";
}

<br />
<div class="row">
    <div class="offset-2">
        Current contribution for the clan @Model.ClanName
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="offset-3">
        @foreach (var player in Model.ClanUsers)
        {
            if (player.InClan)
            {
                <span>@player.UserName: @player.Contribution</span><br />
            }
            else
            {
                <span>@player.UserName (Left the clan): @player.Contribution</span><br />
            }
        }
    </div>
</div>

<div class="row">
    <div class="offset-4">
        <br />
        <br />
        <br />
        <span>
            <a class="btn btn-block btn-primary" asp-action="Index" asp-controller="Home">Close</a>
        </span>
    </div>
</div>
<br />
<br />
<br />
<div class="container text-right">
    Logged in as @Model.LoggedUserName
</div>
